@using AnitsukiTV.Models
@model TabeList
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.user - Anitsuki</title>
    <meta name="description" content="anime izle,en popüler ücretsiz olarak anitsuki.com'da izleyin" />
    <meta name="language" content="Turkish" />
    <meta name="geo.placename" content="Turkey" />
    <meta name="location" content="türkiye, tr, turkey" />
    <meta name="robots" content="noarchive" />
    <meta name="apple-mobile-web-app-title" content="anitsuki">
    <meta name="theme-color" content="#000000" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="anitsuki - anime izle" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="anime izle,en popüler ücretsiz olarak anitsuki.com'da izleyin" />
    <meta name="robots" content="max-image-preview:large" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <link rel="shortcut icon" href="~/IMG/aylogo.png" />
</head>
<body>
    <div class="loader">

    </div>
    <header>
        <div class="container-xl">
            <div class="row">
                <div class="logo col-2">
                    <a href="/Home/Index"><img src="~/IMG/logo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"><img class="logomobile" src="~/IMG/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"></a>
                </div>

                <input style="display: none;" type="checkbox" id="check">
                <label for="check" class="hamburger-btn col-1">
                    <span></span>
                </label>

                <nav class="col-8">
                    <ul>
                        <li><a href="/Home/Index" class="active"><i class="fa-solid fa-house"></i> Anasayfa</a></li>
                        <li><a href="/Category/Index"><i class="fa-solid fa-list"></i> Animeler</a></li>
                    </ul>
                </nav>
                <div class="box col-2">
                    <div class="search">
                        <a href="/Category/Index"><i class="bi bi-search"></i></a>
                    </div>
                    <div class="user">
                        <a href="/LoginSignIn/SignOut"><i class="bi bi-box-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content9">
        <div class="text">
            <div class="box">
                <i class="bi bi-person" style="font-size: 1.1rem;"></i> @Session["username"].ToString()
            </div>
            <div class="box">
                <a href="@Url.Action("ProfileSetting", "User", new { id = Session["id"] })"> <i class="bi bi-gear"></i> Profili Düzenle</a>
            </div>
        </div>
        <div class="userdetail">
            @if (Model.User.PICTURE == null)
            {
                <img style="border: 2px solid #FF7F00;" src="~/IMG/stockuser.png">
            }
            else
            {
                <img style="border: 2px solid #FF7F00;" src="~/IMG/@Model.User.PICTURE">
            }
            <div class="detail">
                <div class="title">
                    <i class="bi bi-info-circle"></i> Hakkımda
                </div>
                <div style=" overflow-wrap: break-word; overflow: auto; white-space: normal;" class="des">
                    @if (Model.User.ABOUT == null)
                    {
                        <h6>Kullanıcı hakkında daha bilgi paylaşmamış</h6>
                    }
                    else
                    {
                        @Model.User.ABOUT
                    }
                </div>
                <div class="date">
                    <i class="bi bi-calendar"></i> Kayıt Tarihi: @Model.User.DATE.Value.ToString("dd.MM.yyyy") <i style="margin-left:10px;" class="bi bi-heart"></i> @Model.Favorites.Where(x => x.TBLANIME.STATUS == true).Count()  <i style="margin-left:10px;" class="bi bi-clock-history"></i> @Model.WatchLater.Where(x => x.TBLANIME.STATUS == true).Count()
                </div>
            </div>
        </div>
        <div class="lastcommentfavoriteanime">
            <div class="text">
                <div class="title">
                    <i class="bi bi-heart"></i> Favori Animeler
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                    <input type="text" autocomplete="off" name="searchTags" id="searchTags" placeholder="Anime Arayınız" />
                </div>
            </div>
            <div class="animeler">
                <ul id="menuFull">
                    @if (Model.Favorites.Any())
                    {
                        foreach (var s in Model.Favorites.Where(s => s.TBLANIME.STATUS == true))
                        {
                            <li>
                                <a href="/AnimeDetail/Index/@s.ANIMEID">
                                    <div class="box">
                                        <div class="img">
                                            <img src="~/IMG/@s.TBLANIME.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                        </div>
                                        <div class="detail">
                                            <div style="width: 100%; margin-top: -10px; line-height: 20px; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; " class="title">
                                                @s.TBLANIME.ANIMENAME
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li style="font-size:1.1rem;width:100% !important;height:70px;display:flex !important;justify-content:center !important;align-items:center !important;color:#ffffff !important;">
                            Kullanıcının henüz favori animesi yok
                        </li>
                    }


                </ul>
            </div>
        </div>
        <div class="lastcommentfavoriteanime" style="margin-top: 80px !important;">
            <div class="text">
                <div class="title">
                    <i class="bi bi-clock-history"></i> Sonra İzleyeceklerim
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                    <input type="text" autocomplete="off" name="searchTags9" id="searchTags9" placeholder="Anime Arayınız" />
                </div>
            </div>
            <div class="animeler">
                <ul id="menuFull9">
                    @if (Model.WatchLater.Any())
                    {
                        foreach (var i in Model.WatchLater.Where(s => s.TBLANIME.STATUS == true))
                        {
                            <li>
                                <a href="/AnimeDetail/Index/@i.ANIMEID">
                                    <div class="box">
                                        <div class="img">
                                            <img src="~/IMG/@i.TBLANIME.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                        </div>
                                        <div class="detail">
                                            <div style="width: 100%; margin-top:-10px; line-height: 20px; height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; " class="title">
                                                @i.TBLANIME.ANIMENAME
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li style="font-size:1.1rem;width:100% !important;height:70px;display:flex !important;justify-content:center !important;align-items:center !important;color:#ffffff !important;">
                            Kullanıcının henüz izlenecek animesi yok
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="footerimg">
        </div>
        <div class="detail">
            <div class="page">
                <div class="title">
                    Sayfalar
                </div>
                <ul>
                    <li><a href="/Home/About">Hakkımızda</a></li>
                    <li><a href="/Home/PrivacyPolicy">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="social">
                <div class="title">
                    Sosyal Medyalar
                </div>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UC3AfwO_XmAvYEtw6FWZXZcw"><i class="fa-brands fa-youtube fa-l"></i> Youtube</a></li>
                    @*<li><a href="#"><i class="fa-brands fa-x-twitter fa-l"></i> Twitter-X</a></li>*@
                    <li><a href="https://www.instagram.com/anitsukitv/"><i class="fa-brands fa-instagram fa-l"></i> Instagram</a></li>
                    <li><a href="https://discord.gg/j6k56TRk"><i class="bi bi-discord"></i> Discord</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                    İletişim
                </div>
                <ul>
                    <li>info@anitsuki.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright ">
            <img src="~/IMG/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki">
            <div class="text">
                Copyright © Anitsuki 2024. Tüm hakları saklıdır.
            </div>
        </div>
    </footer>
</body>
</html>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script>
    document.querySelectorAll('nav a').forEach(link => {
        link.classList.remove('active');

        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");

        loader.classList.add("loader-hidden");
    })
    document.addEventListener('keydown', function (event) {
        if (event.code === 'Space' && event.target.tagName !== 'TEXTAREA' && event.target.tagName !== 'INPUT') {
            event.preventDefault();
            event.stopPropagation();
        }
    });
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>
<script>
    const togglePositionalHeaderStyles = () => {
        if (window.scrollY > 0 && !header.classList.contains("header-change")) {
            header.classList.add("header-change");
        };
        if (window.scrollY === 0 && header.classList.contains("header-change")) {
            header.classList.remove("header-change");
        };
    };

    let timeoutID = null;
    const header = document.querySelector("header");
    togglePositionalHeaderStyles();
    window.addEventListener("scroll", () => {
        togglePositionalHeaderStyles();
        if (timeoutID) clearTimeout(timeoutID);
        timeoutID = setTimeout(() => {
            togglePositionalHeaderStyles();
        }, 50);
    });
</script>
<script>
    jQuery.expr[':'].contains = function (a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    };
    $(document).ready(function () {
        $("#searchTags").keyup(function () {
            var value = $("#searchTags").val();
            if (value.length == 0) {
                $("#menuFull li").show();
            } else {
                $("#menuFull li").hide();
                $("#menuFull li:contains(" + value + ")").show();
            }

        });
    });

    $(document).ready(function () {
        $("#searchTags9").keyup(function () {
            var value = $("#searchTags9").val();
            if (value.length == 0) {
                $("#menuFull9 li").show();
            } else {
                $("#menuFull9 li").hide();
                $("#menuFull9 li:contains(" + value + ")").show();
            }

        });
    });
</script>

