@model AnitsukiTV.Models.TBLUSER

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Profil Ayarları - Anitsuki</title>
    <meta name="description" content="anime izle,en popüler ücretsiz olarak anitsuki.com'da izleyin" />
    <meta name="language" content="Turkish" />
    <meta name="geo.placename" content="Turkey" />
    <meta name="location" content="türkiye, tr, turkey" />
    <meta name="robots" content="noarchive" />
    <meta name="apple-mobile-web-app-title" content="anitsuki">
    <meta name="theme-color" content="#000000" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="anitsuki - anime izle" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="anime izle,en popüler ücretsiz olarak anitsuki.com'da izleyin" />
    <meta name="robots" content="max-image-preview:large" />
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--SPLIDE CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/splidejs/splide/dist/css/splide.min.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/node_modules/splidejs/splide/dist/css/themes/splide-skyblue.min.css" type="text/css">
    <!--SWIPER CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/swiper/swiper-bundle.min.css" type="text/css">
    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" type="text/css">,
    <!--TOASTR CSS-->
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!--CSS-->
    <link rel="stylesheet" href="~/Anitsuki/css/main1.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/css/main1.css.map" type="text/css">
    <!--TITLE IMG-->
    <link rel="shortcut icon" href="~/Anitsuki/img/aylogo.png" />
</head>
<body>
    <div id="loader">
        <div id="box1">
            <img src="~/Anitsuki/img/arisu-aris.gif">
        </div>
    </div>
    <!----------------------------------------------------HEADER START---------------------------------------------------->
    <header>
        <div class="container-xl">
            <div class="row">
                <div class="logo col-2">
                    <a href="/Home/Index"><img src="~/Anitsuki/img/logo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"><img class="logomobile" src="~/Anitsuki/img/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"></a>
                </div>

                <input style="display: none;" type="checkbox" id="check">
                <label for="check" class="hamburger-btn col-1">
                    <span></span>
                </label>

                <nav class="col-8">
                    <ul>
                        <li><a href="/Home/Index" class="active"><i class="fa-solid fa-house"></i> Anasayfa</a></li>
                        <li><a href="/Category/Index"><i class="fa-solid fa-list"></i> Animeler</a></li>
                    </ul>
                </nav>
                <div class="box col-2">
                    <div class="search">
                        <a href="/Category/Index"><i class="bi bi-search"></i></a>
                    </div>
                    <div class="user">
                        <a href="/LoginSignIn/SignOut"><i class="bi bi-box-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!----------------------------------------------------HEADER END---------------------------------------------------->
    <!----------------------------------------------------USER START---------------------------------------------------->
    <div class="content9">
        <div class="text">
            <div class="box">
                <i class="bi bi-person" style="font-size: 1.1rem;"></i> @Session["username"].ToString()
            </div>
            <div class="box">
                <a href="/User/Index"> <i class="bi bi-arrow-left"></i> Hesaba Git</a>
            </div>
        </div>
        <div style="display:flex; justify-content:center; align-items:center; flex-direction:column;" class="userdetail">
            @using (Html.BeginForm("ProfileSetting", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <form class="form-group">
                    <div style="display:none;">
                        @Html.LabelFor(x => x.ID, new { @readonly = "readonly" })
                        <br />
                        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div style="margin-bottom: 30px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        @if (Model.PICTURE == null)
                        {
                            <img class="resim" style="margin-bottom:20px;  object-fit: cover; border: 2px solid #FF7F00; width:250px; height:250px;" src="~/IMG/stockuser.png" />
                        }
                        else
                        {
                            <img class="resim" style="margin-bottom:20px;  object-fit: cover; border: 2px solid #FF7F00; width:250px; height:250px;" src="~/IMG/@Model.PICTURE" />
                            @Html.HiddenFor(x => x.PICTURE)

                        }
                        <input style="background-color: transparent; border: 2px solid #FF7F00; color: #ffffff;" class="form-control" id="resim" type="file" accept=".jpg, .jpeg, .png, .gif" onchange="$('.resim')[0].src = window.URL.createObjectURL(this.files[0])" name="UserImage" />
                    </div>

                    <div style="margin-bottom: 30px; display: flex; justify-content: center; flex-direction: column;">
                        @Html.Label("E-Mail", new { @required = "required", @style = "color:white; font-size:1rem; font-weight:500;" })
                        @Html.TextBoxFor(x => x.MAIL, new { @style = "width:350px; height:40px; border-radius:10px; border:2px solid #FF7F00; background-color:transparent; color:white; outline:none; padding:5px;" })
                    </div>

                    <div style="margin-bottom: 30px; display: flex; justify-content: center; flex-direction: column;">
                        @Html.Label("Şifre", new { @required = "required", @style = "color:white; font-size:1rem; font-weight:500;" })
                        @Html.TextBoxFor(x => x.PASSWORD, new { @style = "width:350px; height:40px; border-radius:10px; border:2px solid #FF7F00; background-color:transparent; color:white; outline:none; padding:5px;", @id = "password" })
                    </div>

                    <div style="margin-bottom: 30px; display: flex; justify-content: center; flex-direction: column;">
                        <div style="display:flex; justify-content:space-between;">
                            @Html.Label("Şifre Tekrarı", new { @required = "required", @style = "color:white; font-size:1rem; font-weight:500;" })
                            @Html.ValidationMessageFor(x => x.CONFIRMPASS, "", new { @style = "color:red;" })
                        </div>
                        @Html.TextBoxFor(x => x.CONFIRMPASS, new { @style = "width:350px;height:40px;border-radius:10px;border:2px solid #FF7F00;background-color:transparent;color:white;outline:none;padding:5px;", @id = "confirmPassword", dir = "ltr" })
                    </div>

                    <div style="margin-bottom: 30px; display: flex; justify-content: center; flex-direction: column;">
                        @Html.Label("Hakkımda", new { @required = "required", @style = "color:white; font-size:1rem; font-weight:500;" })
                        @Html.TextAreaFor(x => x.ABOUT, 15, 1, new { @style = " border-radius:10px; border:2px solid #FF7F00; background-color:transparent; color:white; outline:none; padding:5px;" })
                    </div>

                    <div style="display:flex; justify-content:center;">
                        <button style="color: #FF7F00; border: 2px solid #FF7F00; padding:5px 10px; border-radius:10px; background-color:#000000;outline:none;" id="submitBtn">Kaydet</button>
                    </div>
                </form>
            }
        </div>
    </div>
    <!----------------------------------------------------USER END---------------------------------------------------->
    <!----------------------------------------------------FOOTER START---------------------------------------------------->
    <footer>
        <div class="footerimg">
        </div>
        <div class="detail">
            <div class="page">
                <div class="title">
                    Sayfalar
                </div>
                <ul>
                    <li><a href="/Home/About">Hakkımızda</a></li>
                    <li><a href="/Home/PrivacyPolicy">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="social">
                <div class="title">
                    Sosyal Medyalar
                </div>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UC3AfwO_XmAvYEtw6FWZXZcw"><i class="fa-brands fa-youtube fa-l"></i> Youtube</a></li>
                    @*<li><a href="#"><i class="fa-brands fa-x-twitter fa-l"></i> Twitter-X</a></li>*@
                    <li><a href="https://www.instagram.com/anitsukitv/"><i class="fa-brands fa-instagram fa-l"></i> Instagram</a></li>
                    <li><a href="https://discord.gg/j6k56TRk"><i class="bi bi-discord"></i> Discord</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                    İletişim
                </div>
                <ul>
                    <li>info@anitsuki.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright ">
            <img src="~/Anitsuki/img/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki">
            <div class="text">
                Copyright © Anitsuki 2024. Tüm hakları saklıdır.
            </div>
        </div>
    </footer>
    <!----------------------------------------------------FOOTER END---------------------------------------------------->
</body>

</html>
<!--JQUERY JS-->
<script src="~/Anitsuki/node_modules/jquery/dist/jquery.min.js"></script>
<!--BOOTSTRAP JS-->
<script src="~/Anitsuki/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--SWIPER JS-->
<script src="~/Anitsuki/node_modules/swiper/swiper-bundle.min.js"></script>
<!--SPLIDE JS-->
<script src="~/Anitsuki/node_modules/splidejs/splide/dist/js/splide.min.js"></script>
<!--TOASTR JS-->
<script src="~/Scripts/toastr.min.js"></script>
<!--JS-->
<script src="~/Anitsuki/js/main1.js"></script>
<script src="~/Anitsuki/js/splide.js"></script>


<script>

    /*NAVBAR'DAKİ LİNK ACTİVE*/
    document.querySelectorAll('nav a').forEach(link => {
        link.classList.remove('active');

        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });

    //Sayfa Yükleme Ekranı
    window.addEventListener('load', loaderfunc);
    function loaderfunc() {
        document.getElementById('loader').style.display = 'none';
    }

    //Sayfada Aşağı boşluk tuşuna bastığında inmemeye yarayana Kod
    document.addEventListener('keydown', function (event) {
        if (event.code === 'Space' && event.target.tagName !== 'TEXTAREA' && event.target.tagName !== 'INPUT') {
            event.preventDefault();
            event.stopPropagation();
        }
    });

    $(document).ready(function () {
        $('#password, #confirmPassword').on('keyup', function () {
            if ($('#password').val().trim() === '' || $('#confirmPassword').val().trim() === '') {
                $('#submitBtn').prop('disabled', true);
            } else {
                $('#submitBtn').prop('disabled', false);
            }
        });
    });

    $('#resim').on('change', function () {
        var file = this.files[0];
        var fileSize = file.size;
        if (fileSize > 15 * 1024 * 1024) {
            alert("Lütfen 15 MB'den küçük bir dosya seçiniz!!!");
            this.value = '';
        } else {
            $('.resim')[0].src = window.URL.createObjectURL(file);
        }
    });

</script>


@if (TempData["success"] != null)
{
    <script type="text/javascript">
        toastr["success"]("Başarıyla Güncellenmiştir!", "Güncelleme")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

@if (TempData["error"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Lütfen geçerli bir Mail adresi giriniz! Örnek: abc@ornek.com", "Hatalı Giriş")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

@if (TempData["error2"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Lütfen Mail alanınızı boş bırakmayınız!", "Hatalı Giriş")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

@if (TempData["error3"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Lütfen resim formatında bir dosya seçiniz! Örnek a.jpg, a.jpeg, a.gif !", "Format türü yanlış")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

@if (TempData["error4"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Şifreler aynı değil!", "Şifre uyuşmazlığı")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

@if (TempData["error5"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Lütfen 15 MB'den küçük bir dosya seçiniz!", "Boyut aşımı")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

@if (TempData["error6"] != null)
{
    <script type="text/javascript">
        toastr["error"]("Mail adresi kullanımda!", "Mail adres hatası")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}