@model AnitsukiTV.Models.TBLUSER

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Anitsuki | Kayıt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Anitsuki/img/aylogo.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
    <!--===============================================================================================-->
    <style>
        ::-moz-selection {
            background-color: #FF7F00;
            color: #000000;
        }

        ::selection {
            background-color: #FF7F00;
            color: #000000;
        }
    </style>
</head>
<body>

    <div class="limiter">
        <div style="background-color:#313131 !important;" class="container-login100">
            <div style="background-color:#000000 !important;" class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span style="color:#ffffff !important;" class="login100-form-title p-b-26">
                        Kayıt
                    </span>
                    <span class="login100-form-title p-b-48">
                        <img src="~/Anitsuki/img/aylogo.png" width="100" />
                    </span>
                    <h2 style="width:100%; text-align:center; color: #ffffff;">@ViewBag.user</h2>

                    <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adınızı Oluşturun">
                        <input style="color:#ffffff !important;" class="input100" type="text" name="USERNAME">
                        <span style="color:#ffffff !important;" class="focus-input100" data-placeholder="Kullanıcı Adı"></span>
                        @Html.ValidationMessageFor(x => x.USERNAME, "", new { @style = "color:red;" })
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Mail Adresini Oluşturun">
                        <input style="color:#ffffff !important;" class="input100" type="text" name="MAIL">
                        <span style="color:#ffffff !important;" class="focus-input100" data-placeholder="Email"></span>
                        @Html.ValidationMessageFor(x => x.MAIL, "", new { @style = "color:red;" })
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Şifrenizi Oluşturun">
                        <span class="btn-show-pass">
                            <i style="color:#ffffff !important;" class="zmdi zmdi-eye"></i>
                        </span>
                        <input style="color:#ffffff !important;" class="input100" type="password" name="PASSWORD">
                        <span style="color:#ffffff !important;" class="focus-input100" data-placeholder="Şifre"></span>
                        @Html.ValidationMessageFor(x => x.PASSWORD, "", new { @style = "color:red;" })
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Şifrenizi Oluşturun">
                        <span class="btn-show-pass">
                            <i style="color:#ffffff !important;" class="zmdi zmdi-eye"></i>
                        </span>
                        <input style="color:#ffffff !important;" class="input100" type="password" name="CONFIRMPASS">
                        <span style="color:#ffffff !important;" class="focus-input100" data-placeholder="Şifre Tekrar"></span>
                        @Html.ValidationMessageFor(x => x.CONFIRMPASS, "", new { @style = "color:red;" })
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button style="background: linear-gradient(to right, #FF7F00, #280137, #0492C2); color: #ffffff;" class="login100-form-btn">
                                Kayıt Ol
                            </button>
                        </div>
                    </div>

                    <h6 style="text-align:center; margin-top:15px;"><a style="color:white; font-size:1rem;" href="/Home/Index">Anasayfa'ya dön</a></h6>

                    <h6 style="text-align:center; margin-top:15px;"><a style="color:white; font-size:1rem;" href="/LoginSignIn/Login">Hesabınız var ise Giriş Yap</a></h6>

                    
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/js/main.js"></script>

</body>
</html>
