@using AnitsukiTV.Models
@model TabeList

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Anitsuki - Türkçe Altyazılı Anime İzle</title>
    <meta name="description" content="anime izle,en popüler ücretsiz olarak anitsuki.com'da izleyin" />
    <meta name="language" content="Turkish" />
    <meta name="geo.placename" content="Turkey" />
    <meta name="location" content="türkiye, tr, turkey" />
    <meta name="robots" content="noarchive" />
    <meta name="apple-mobile-web-app-title" content="anitsuki">
    <meta name="theme-color" content="#000000" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="anitsuki - anime izle" />
    <meta property="og:url" content="https://anitsuki.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="anime izle,en popüler ücretsiz olarak anitsuki.com'da izleyin" />
    <meta name="robots" content="max-image-preview:large" />
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--SPLIDE CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/splidejs/splide/dist/css/splide.min.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/node_modules/splidejs/splide/dist/css/themes/splide-skyblue.min.css" type="text/css">
    <!--SWIPER CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/swiper/swiper-bundle.min.css" type="text/css">
    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" type="text/css">
    <!--CSS-->
    <link rel="stylesheet" href="~/Anitsuki/css/main1.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/css/main1.css.map" type="text/css">
    <!--TITLE IMG-->
    <link rel="shortcut icon" href="~/Anitsuki/img/aylogo.png" />
</head>

<body>
    <div id="loader">
        <div id="box1">
            <img src="~/Anitsuki/img/arisu-aris.gif">
        </div>
    </div>
    <!----------------------------------------------------HEADER START---------------------------------------------------->
    <header>
        <div class="container-xl">
            <div class="row">
                <div class="logo col-2">
                    <a href="/Home/Index"><img src="~/Anitsuki/img/logo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"><img class="logomobile" src="~/Anitsuki/img/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"></a>
                </div>

                <input style="display: none;" type="checkbox" id="check">
                <label for="check" class="hamburger-btn col-1">
                    <span></span>
                </label>

                <nav class="col-8">
                    <ul>
                        <li><a href="/Home/Index" class="active"><i class="fa-solid fa-house"></i> Anasayfa</a></li>
                        <li><a href="/Category/Index"><i class="fa-solid fa-list"></i> Animeler</a></li>
                    </ul>
                </nav>
                <div class="box col-2">
                    <div style="margin-right:-8px;" class="search">
                        <a href="/Category/Index"><i class="bi bi-search"></i></a>
                    </div>
                    <div class="user">
                        @{ AnitsukiTVEntities db = new AnitsukiTVEntities();}
                        @if (Request.IsAuthenticated)
                        {
                            var currentUser = db.TBLUSER.FirstOrDefault(u => u.USERNAME == User.Identity.Name);
                            if (currentUser != null && currentUser.PICTURE != null)
                            {
                                <a href="/User/Index"><img width="40" height="40" style="border-radius:50%; object-fit:cover;" src="~/IMG/@currentUser.PICTURE"></a>
                            }
                            else
                            {
                                <a href="/User/Index"><img width="40" height="40" style="border-radius: 50%; object-fit: cover;" src="~/IMG/stockuser.png"></a>
                            }
                            <a href="/LoginSignIn/SignOut"><i class="bi bi-box-arrow-right"></i></a>
                        }
                        else
                        {
                            <a href="/LoginSignIn/Login"><i class="bi bi-person"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!----------------------------------------------------HEADER END---------------------------------------------------->
    <!----------------------------------------------------SWIPER START---------------------------------------------------->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            @foreach (var ğ in Model.Anime.Where(x => x.ADMINSTATUS == true))
            {
                <div class="swiper-slide">
                    <img src="~/IMG/@ğ.BIGBANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                    <div class="inside">
                        <div class="title">
                            @ğ.ANIMENAME
                        </div>
                        <div style="overflow-wrap: break-word; overflow: auto; white-space: normal;" class="des">
                            @ğ.DETAIL
                        </div>
                        <a class="btn" href="/AnimeDetail/Index/@ğ.ID"><i class="fa-solid fa-play"></i></a>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="autoplay-progress">
            <svg viewBox="0 0 48 48">
                <circle cx="24" cy="24" r="20"></circle>
            </svg>
            <span></span>
        </div>
    </div>
    <!----------------------------------------------------SWIPER END---------------------------------------------------->
    <!----------------------------------------------------SPLIDE START---------------------------------------------------->
    <div class="category1">
        <div class="text">
            <div class="title">
                <i class="bi bi-patch-plus"></i> Yeni Gelen Anime Bölümleri
            </div>
        </div>
        <div class="splide" id="splide1">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var l in Model.Episode.Where(l => l.STATUS == true).OrderByDescending(l => l.ID).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Video/@l.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@l.TBLANIME.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (l.TBLANIME.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@l.TBLANIME.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }

                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @l.TBLANIME.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        S.@l.TBLSEASON.SEASONNUMBER B.@l.EPINUMBER
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="bi bi-patch-plus"></i> Yeni Gelen Animeler
            </div>
        </div>
        <div class="splide" id="splide2">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var l in Model.Anime.Where(l => l.STATUS == true).OrderByDescending(l => l.ID).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@l.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@l.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (l.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@l.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @l.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @l.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="bi bi-award"></i> IMDb Top 12 Animeler
            </div>
        </div>
        <div class="splide" id="splide3">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var l in Model.Anime.Where(l => l.STATUS == true).OrderByDescending(l => l.IMDB).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@l.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@l.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (l.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@l.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @l.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @l.IMDB
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Shounen Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 1))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide4">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var x in Model.Anime.Where(i => i.CATEGORYID == 1 && i.STATUS == true).OrderBy(x => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@x.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@x.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (x.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@x.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @x.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @x.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Seinen Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 2))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide5">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var y in Model.Anime.Where(i => i.CATEGORYID == 2 && i.STATUS == true).OrderBy(y => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@y.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@y.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (y.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@y.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @y.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @y.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Shoujo Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 3))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide6">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var z in Model.Anime.Where(i => i.CATEGORYID == 3 && i.STATUS == true).OrderBy(z => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@z.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@z.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (z.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@z.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @z.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @z.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Josei Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 4))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide7">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var q in Model.Anime.Where(i => i.CATEGORYID == 4 && i.STATUS == true).OrderBy(q => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@q.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@q.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (q.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@q.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @q.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @q.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Isekai Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 5))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide8">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var w in Model.Anime.Where(i => i.CATEGORYID == 5 && i.STATUS == true).OrderBy(w => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@w.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@w.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (w.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@w.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @w.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @w.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Demantia Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 6))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide9">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var e in Model.Anime.Where(i => i.CATEGORYID == 6 && i.STATUS == true).OrderBy(e => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@e.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@e.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (e.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@e.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @e.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @e.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Mecha  Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 7))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide10">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var r in Model.Anime.Where(i => i.CATEGORYID == 7 && i.STATUS == true).OrderBy(r => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@r.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@r.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (r.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@r.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @r.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @r.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Ecchi Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 8))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide11">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var t in Model.Anime.Where(i => i.CATEGORYID == 8 && i.STATUS == true).OrderBy(t => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@t.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@t.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (t.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@t.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @t.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @t.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Gore Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 9))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide12">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var t in Model.Anime.Where(i => i.CATEGORYID == 9 && i.STATUS == true).OrderBy(t => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@t.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@t.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (t.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@t.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @t.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @t.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> CGDCT Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 10))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide13">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var t in Model.Anime.Where(i => i.CATEGORYID == 10 && i.STATUS == true).OrderBy(t => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@t.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@t.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (t.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@t.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @t.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @t.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Slice of Life Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 11))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide14">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var t in Model.Anime.Where(i => i.CATEGORYID == 11 && i.STATUS == true).OrderBy(t => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@t.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@t.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (t.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@t.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @t.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @t.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="category1" id="category2">
        <div class="text">
            <div class="title">
                <i class="fa-solid fa-list"></i> Romantizm Animeler
            </div>
            <div class="all">
                @foreach (var f in Model.Category.Where(i => i.ID == 12))
                {
                    <a href="/Category/UseCategory/@f.ID"><i class="bi bi-box-arrow-up-left"></i> Tümünü Göster</a>
                }
            </div>
        </div>
        <div class="splide" id="splide15">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var t in Model.Anime.Where(i => i.CATEGORYID == 12 && i.STATUS == true).OrderBy(t => Guid.NewGuid()).Take(12))
                    {
                        <li class="splide__slide">
                            <a href="/AnimeDetail/Index/@t.ID">
                                <div class="videoimg">
                                    <img src="~/IMG/@t.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                    @if (t.EDIT != null)
                                    {
                                        <video class="video" src="~/Videos/@t.EDIT" playsinline></video>
                                    }
                                    else
                                    {
                                        <video class="video" src="~/Videos/nosignal.mp4" playsinline></video>
                                    }
                                </div>
                                <div class="text">
                                    <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                        @t.ANIMENAME
                                    </div>
                                    <div style="width:30%; display:flex; justify-content:end;" class="season">
                                        @t.DATE.Value.ToString("yyyy")
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!----------------------------------------------------SPLIDE END---------------------------------------------------->
    <!----------------------------------------------------FOOTER START---------------------------------------------------->
    <footer>
        <div class="footerimg">
        </div>
        <div class="detail">
            <div class="page">
                <div class="title">
                    Sayfalar
                </div>
                <ul>
                    <li><a href="/Home/About">Hakkımızda</a></li>
                    <li><a href="/Home/PrivacyPolicy">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="social">
                <div class="title">
                    Sosyal Medyalar
                </div>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UC3AfwO_XmAvYEtw6FWZXZcw"><i class="fa-brands fa-youtube fa-l"></i> Youtube</a></li>
                    @*<li><a href="#"><i class="fa-brands fa-x-twitter fa-l"></i> Twitter-X</a></li>*@
                    <li><a href="https://www.instagram.com/anitsukitv/"><i class="fa-brands fa-instagram fa-l"></i> Instagram</a></li>
                    <li><a href="https://discord.gg/j6k56TRk"><i class="bi bi-discord"></i> Discord</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                    İletişim
                </div>
                <ul>
                    <li>info@anitsuki.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright ">
            <img src="~/Anitsuki/img/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki">
            <div class="text">
                Copyright © Anitsuki 2024. Tüm hakları saklıdır.
            </div>
        </div>
    </footer>
    <!----------------------------------------------------FOOTER END---------------------------------------------------->
</body>

</html>
<!--BOOTSTRAP JS-->
<script src="~/Anitsuki/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--SWIPER JS-->
<script src="~/Anitsuki/node_modules/swiper/swiper-bundle.min.js"></script>
<!--SPLIDE JS-->
<script src="~/Anitsuki/node_modules/splidejs/splide/dist/js/splide.min.js"></script>
<!--JS-->
<script src="~/Anitsuki/js/main1.js"></script>
<script src="~/Anitsuki/js/splide.js"></script>

<script>
    /*NAVBAR'DAKİ LİNK ACTİVE*/
    document.querySelectorAll('nav a').forEach(link => {
        link.classList.remove('active');

        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });

    //Sayfa Yükleme Ekranı
    window.addEventListener('load', loaderfunc);
    function loaderfunc() {
        document.getElementById('loader').style.display = 'none';
    }

    //Sayfada Aşağı boşluk tuşuna bastığında inmemeye yarayana Kod
    document.addEventListener('keydown', function (event) {
        if (event.code === 'Space' && event.target.tagName !== 'TEXTAREA' && event.target.tagName !== 'INPUT') {
            event.preventDefault();
            event.stopPropagation();
        }
    });</script>
