
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Anitsuki</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/Content/toastr.min.css" />    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/WEBIMG/aylogotitle.png" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/LanetlerKralıAdmin/Index"><img style="object-fit:contain; height:50px;" src="~/WEBIMG/logo.png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/LanetlerKralıAdmin/Index"><img src="~/WEBIMG/aylogo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img style="object-fit:cover;" src="~/WEBIMG/aylogo.png" alt="image">
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">@HttpContext.Current.User.Identity.Name</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">

                            <div class="p-2">
                                <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">İşlemler</h5>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="/lockout">
                                    <span>Hesabı Kilitle</span>
                                    <i class="mdi mdi-lock ml-1"></i>
                                </a>
                                <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="/signout">
                                    <span>Çıkış Yap</span>
                                    <i class="mdi mdi-logout ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    @{
                        AnitsukiTV.Models.AnitsukiTVEntities xx = new AnitsukiTV.Models.AnitsukiTVEntities();
                        var degerler = xx.TBLNOTIFICATIONS.Where(x => x.ADMINSTATUS == true).OrderByDescending(x => x.ID).ToList();
                        ViewBag.notifiaction = degerler;
                        ViewBag.notificationcount = degerler.Count();
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        var username = User.Identity.Name;
                        var admin = xx.TBLADMIN.Where(x => x.USERNAME == username).FirstOrDefault();
                        if (admin != null)
                        {
                            if (admin.ADMINROLEID == 1)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link count dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-email-outline"></i>
                                        <span class="count-symbol bg-success"></span>
                                    </a>
                                    <div style="width:400px; height:auto;" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                        <h6 style="height:25px; display:flex; justify-content:center; align-items:center;" class="p-3 mb-0 bg-primary text-white py-4">Mesajlar</h6>
                                        <div style="overflow:auto; max-height:340px;">
                                            @foreach (var x in @ViewBag.notifiaction)
                                            {
                                                <div class="dropdown-divider"></div>
                                                <div class="dropdown-item preview-item">
                                                    <div class="preview-thumbnail">
                                                        @if (x.PROFILEPICTURE == null)
                                                        {
                                                            <img style="object-fit:cover;" src="~/USERIMG/stockuser.png" />
                                                        }
                                                        else
                                                        {
                                                            <img style="object-fit:cover;" src="~/USERIMG/@x.PROFILEPICTURE">
                                                        }
                                                    </div>
                                                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                                        <h6 class="preview-subject font-weight-normal">@x.USERNAME</h6>
                                                        <h6 style="word-wrap: break-word; /* Metni kır ve yeni satıra taşı */ white-space: normal;" class="preview-subject font-weight-normal">@x.MESSAGE</h6>
                                                        <p class="text-gray mb-0">@TimeAgo(x.CREATED) </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div style="display:flex; justify-content:space-around; align-items:center; height:50px;width:100%; background:#ccc;">
                                            <div style="margin:0px; padding:0px;">@ViewBag.notificationcount tane bildirim var</div>
                                            <a class="btn btn-primary" href="/LanetlerKralıAdmin/Message">Hepsini Gör</a>
                                        </div>
                                    </div>
                                </li>
                            }
                            else if (admin.ADMINROLEID == 3)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link count dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-email-outline"></i>
                                        <span class="count-symbol bg-success"></span>
                                    </a>
                                    <div style="width:400px; height:auto;" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                        <h6 style="height:25px; display:flex; justify-content:center; align-items:center;" class="p-3 mb-0 bg-primary text-white py-4">Mesajlar</h6>
                                        <div style="overflow:auto; max-height:340px;">
                                            @foreach (var x in @ViewBag.notifiaction)
                                            {
                                                <div class="dropdown-divider"></div>
                                                <div class="dropdown-item preview-item">
                                                    <div class="preview-thumbnail">
                                                        @if (x.PROFILEPICTURE == null)
                                                        {
                                                            <img style="object-fit:cover;" src="~/USERIMG/stockuser.png" />
                                                        }
                                                        else
                                                        {
                                                            <img style="object-fit:cover;" src="~/USERIMG/@x.PROFILEPICTURE">
                                                        }
                                                    </div>
                                                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                                        <h6 class="preview-subject font-weight-normal">@x.USERNAME</h6>
                                                        <h6 style="word-wrap: break-word; /* Metni kır ve yeni satıra taşı */ white-space: normal;" class="preview-subject font-weight-normal">@x.MESSAGE</h6>
                                                        <p class="text-gray mb-0">@TimeAgo(x.CREATED) </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div style="display:flex; justify-content:space-around; align-items:center; height:50px;width:100%; background:#ccc;">
                                            <div style="margin:0px; padding:0px;">@ViewBag.notificationcount tane bildirim var</div>
                                            <a class="btn btn-primary" href="/LanetlerKralıAdmin/Message">Hepsini Gör</a>
                                        </div>
                                    </div>
                                </li>
                            }
                            else if (admin.ADMINROLEID == 4)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link count dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-email-outline"></i>
                                        <span class="count-symbol bg-success"></span>
                                    </a>
                                    <div style="width:400px; height:auto;" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                        <h6 style="height:25px; display:flex; justify-content:center; align-items:center;" class="p-3 mb-0 bg-primary text-white py-4">Mesajlar</h6>
                                        <div style="overflow:auto; max-height:340px;">
                                            @foreach (var x in @ViewBag.notifiaction)
                                            {
                                                <div class="dropdown-divider"></div>
                                                <div class="dropdown-item preview-item">
                                                    <div class="preview-thumbnail">
                                                        @if (x.PROFILEPICTURE == null)
                                                        {
                                                            <img style="object-fit:cover;" src="~/USERIMG/stockuser.png" />
                                                        }
                                                        else
                                                        {
                                                            <img style="object-fit:cover;" src="~/USERIMG/@x.PROFILEPICTURE">
                                                        }
                                                    </div>
                                                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                                        <h6 class="preview-subject font-weight-normal">@x.USERNAME</h6>
                                                        <h6 style="word-wrap: break-word; /* Metni kır ve yeni satıra taşı */ white-space: normal;" class="preview-subject font-weight-normal">@x.MESSAGE</h6>
                                                        <p class="text-gray mb-0">@TimeAgo(x.CREATED) </p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div style="display:flex; justify-content:space-around; align-items:center; height:50px;width:100%; background:#ccc;">
                                            <div style="margin:0px; padding:0px;">@ViewBag.notificationcount tane bildirim var</div>
                                            <a class="btn btn-primary" href="/LanetlerKralıAdmin/Message">Hepsini Gör</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    }
                </ul>
                @functions {
                    public static string TimeAgo(DateTime dateTime)
                    {
                        TimeSpan timeSpan = DateTime.Now - dateTime;

                        if (timeSpan.TotalSeconds < 60)
                        {
                            return "az önce";
                        }
                        else if (timeSpan.TotalMinutes < 60)
                        {
                            int minutes = (int)timeSpan.TotalMinutes;
                            return $"{minutes} dakika önce";
                        }
                        else if (timeSpan.TotalHours < 24)
                        {
                            int hours = (int)timeSpan.TotalHours;
                            return $"{hours} saat önce";
                        }
                        else if (timeSpan.TotalDays < 30)
                        {
                            int days = (int)timeSpan.TotalDays;
                            return $"{days} gün önce";
                        }
                        else if (timeSpan.TotalDays < 365)
                        {
                            int months = (int)(timeSpan.TotalDays / 30);
                            return $"{months} ay önce";
                        }
                        else
                        {
                            int years = (int)(timeSpan.TotalDays / 365);
                            return $"{years} yıl önce";
                        }
                    }
                }
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-category">Düzenleyiciler</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/LanetlerKralıAdmin/Index">
                            <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                            <span class="menu-title">Anasayfa</span>
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var username = User.Identity.Name;
                        var admin = xx.TBLADMIN.Where(x => x.USERNAME == username).FirstOrDefault();
                        if (admin != null)
                        {
                            if (admin.ADMINROLEID == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Donater">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Bağışçılar</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Admin">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Admin</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/AdminRole">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Roller</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Category">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Kategori</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Anime">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Anime</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Season">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Sezonlar</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Episode">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Bölümler</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Users">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Kullanıcılar</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/AnimeComment">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Anime Yorumları</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/EpisodeComment">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Bölüm Yorumları</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Error">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Hata Sayfası</span>
                                    </a>
                                </li>
                            }
                            else if (admin.ADMINROLEID == 3)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Anime">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Anime</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Season">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Sezonlar</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Episode">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Bölümler</span>
                                    </a>
                                </li>
                            }
                            else if (admin.ADMINROLEID == 2)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Users">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Kullanıcılar</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/AnimeComment">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Anime Yorumları</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/EpisodeComment">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Bölüm Yorumları</span>
                                    </a>
                                </li>
                            }
                            else if (admin.ADMINROLEID == 4)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Anime">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Anime</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Season">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Sezonlar</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Episode">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Bölümler</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/Users">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Kullanıcılar</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/AnimeComment">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Anime Yorumları</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LanetlerKralıAdmin/EpisodeComment">
                                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                                        <span class="menu-title">Bölüm Yorumları</span>
                                    </a>
                                </li>
                            }
                        }
                    }

                    <li class="nav-item sidebar-user-actions">
                        <div class="sidebar-user-menu">
                            <a href="/signout" class="nav-link">
                                <i class="mdi mdi-logout menu-icon"></i>
                                <span class="menu-title">Çıkış Yap</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Admin/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Admin/assets/js/off-canvas.js"></script>
    <script src="~/Admin/assets/js/hoverable-collapse.js"></script>
    <script src="~/Admin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/Admin/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>
</html>
