@using AnitsukiTV.Models
@model TabeList


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime | Anasayfa</title>
    <!--İOS Cihazlarda fullscreen'i etkinleştirmek için işe yarayana HTML TAG'I-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--GOOGLE ICON FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <!--SPLIDE CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/splidejs/splide/dist/css/splide.min.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/node_modules/splidejs/splide/dist/css/themes/splide-skyblue.min.css" type="text/css">
    <!--SWIPER CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/swiper/swiper-bundle.min.css" type="text/css">
    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="~/Anitsuki/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" type="text/css">
    <!--CSS-->
    <link rel="stylesheet" href="~/Anitsuki/css/main.css" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/css/main.css.map" type="text/css">
    <link rel="stylesheet" href="~/Anitsuki/css/video.css" type="text/css">
    <!--TITLE IMG-->
    <link rel="shortcut icon" href="~/Anitsuki/img/aylogo.png" />
</head>

<body>
    <div id="loader">
        <div id="box1">
            <img src="~/Anitsuki/img/arisu-aris.gif">
        </div>
    </div>
    <!----------------------------------------------------HEADER START---------------------------------------------------->
    <header style="background-color: #000000;">
        <div class="container-xl">
            <div class="row">
                <div class="logo col-2">
                    <a href="/Home/Index"><img src="~/Anitsuki/img/logo.png"><img class="logomobile" src="~/Anitsuki/img/aylogo.png"></a>
                </div>

                <input style="display: none;" type="checkbox" id="check">
                <label for="check" class="hamburger-btn col-1">
                    <span></span>
                </label>

                <nav class="col-8">
                    <ul>
                        <li><a href="/Home/Index"><i class="fa-solid fa-house"></i> Anasayfa</a></li>
                        <li><a href="/Category/Index"><i class="fa-solid fa-list"></i> Animeler</a></li>
                    </ul>
                </nav>
                <div class="box col-2">
                    <div class="search">
                        <a href="category.html"><i class="bi bi-search"></i></a>
                    </div>
                    <div class="user">
                        <a href="user.html"><i class="bi bi-person"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!----------------------------------------------------HEADER END---------------------------------------------------->
    <!----------------------------------------------------CONTENT START---------------------------------------------------->
    <div class="content">
        <div class="videoplayer" tabindex="0">
            <div class="postervideo">
                <img class="poster" src="~/Anitsuki/img/poster.png" />
                <img class="postermobil" src="~/Anitsuki/img/postermobil.png">
                <span class="material-symbols-outlined posterbtn">
                    play_circle
                </span>
            </div>
            <video preload="metadata" class="main-video" playsinline>
                @foreach (var x in Model.Episode)
                {
                    if (x.EP1 != null)
                    {
                        <source src="~/Videos/@x.EP1" size="360" type="video/mp4">
                    }
                    if (x.EP2 != null)
                    {
                        <source src="~/Videos/@x.EP2" size="480" type="video/mp4">
                    }
                    if (x.EP3 != null)
                    {
                        <source src="~/Videos/@x.EP3" size="720" type="video/mp4">
                    }
                    if (x.EP4 != null)
                    {
                        <source src="~/Videos/@x.EP4" size="1080" type="video/mp4">
                    }
                }




            </video>
        </div>
        <div class="head">
            <div class="episodeandcomment">
                <div class="episodetail">
                    @foreach (var y in Model.Episode)
                    {
                        <img src="~/IMG/@y.BANNER">
                        <div class="detail">
                            <div class="title">
                                <a href="/AnimeDetail/Index/@y.ANIMEID">@y.TBLANIME.ANIMENAME </a>
                            </div>
                            <div class="episodename">
                                <span>S.@y.TBLSEASON.SEASONNUMBER</span> - <span>B.@y.EPINUMBER</span> @y.EPISODENAME
                            </div>
                            <div class="time">
                                <i class="bi bi-clock"></i> @y.TIME
                            </div>
                            <div class="date">
                                <i class="bi bi-calendar"></i> @y.DATE.Value.ToString("dd.MM.yyyy")
                            </div>
                            <div class="likeandunlikerating">
                                <div class="rating">
                                    Beğendiniz mi?
                                </div>
                                <div class="likeandunlike">
                                    <div class="like">
                                        <i class="bi bi-hand-thumbs-up"></i> @y.TBLEPISODELIKE.Where(x => x.LIKESTATUS == true).Count()
                                    </div>
                                    <div class="unlike">
                                        <i class="bi bi-hand-thumbs-down"></i> @y.TBLEPISODELIKE.Where(x => x.LIKESTATUS == false).Count()
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="commentplace">
                    <div class="headcomment">
                        <div class="title">
                            <i class="bi bi-pencil-square"></i> Düşüncelerinizi Yazın
                        </div>
                        <form action="#" method="get">
                            <textarea></textarea>
                            <button><i class="bi bi-send"></i> Gönder</button>
                        </form>
                    </div>
                </div>
                <div class="commentboxes">
                    <div class="title">
                        <i class="bi bi-chat"></i> 30 Yorum
                    </div>
                    <div class="comments">
                        <div class="comment1">
                            <img src="~/IMG/arisu-aris.gif">
                            <div class="detail">
                                <div class="user">
                                    <div class="name">
                                        BABAPRO
                                    </div>
                                    <div class="year">
                                        12.12.2023
                                    </div>
                                </div>
                                <div class="text">
                                    Dubbing a blonde loli who is older and more powerful than she looks? Call Monica
                                    Rial.
                                </div>
                                <div class="more">
                                    <div class="reply">
                                        <i class="bi bi-reply"></i>Cevapla
                                    </div>
                                    <div class="likeandunlike">
                                        <div class="like">
                                            <i class="bi bi-hand-thumbs-up"></i>1024
                                        </div>
                                        <div class="unlike">
                                            <i class="bi bi-hand-thumbs-down"></i>299
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment2">
                            <img src="~/Anitsuki/img/1.png">
                            <div class="detail">
                                <div class="user">
                                    <div class="name">
                                        BABAPRO
                                    </div>
                                    <div class="year">
                                        12.12.2023
                                    </div>
                                </div>
                                <div class="text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At totam exercitationem
                                    iure quia tempora suscipit illum adipisci voluptatum? Aspernatur, perspiciatis.
                                </div>
                                <div class="more">
                                    <div class="reply">
                                        <i class="bi bi-reply"></i> Cevapla
                                    </div>
                                    <div class="likeandunlike">
                                        <div class="like">
                                            <i class="bi bi-hand-thumbs-up"></i> 1024
                                        </div>
                                        <div class="unlike">
                                            <i class="bi bi-hand-thumbs-down"></i> 299
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment1">
                            <img src="~/Anitsuki/img/1.png">
                            <div class="detail">
                                <div class="user">
                                    <div class="name">
                                        BABAPRO
                                    </div>
                                    <div class="year">
                                        12.12.2023
                                    </div>
                                </div>
                                <div class="text">
                                    Dubbing a blonde loli who is older and more powerful than she looks? Call Monica
                                    Rial.
                                </div>
                                <div class="more">
                                    <div class="reply">
                                        <i class="bi bi-reply"></i>Cevapla
                                    </div>
                                    <div class="likeandunlike">
                                        <div class="like">
                                            <i class="bi bi-hand-thumbs-up"></i>1024
                                        </div>
                                        <div class="unlike">
                                            <i class="bi bi-hand-thumbs-down"></i>299
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment2">
                            <img src="~/Anitsuki/img/1.png">
                            <div class="detail">
                                <div class="user">
                                    <div class="name">
                                        BABAPRO
                                    </div>
                                    <div class="year">
                                        12.12.2023
                                    </div>
                                </div>
                                <div class="text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At totam exercitationem
                                    iure quia tempora suscipit illum adipisci voluptatum? Aspernatur, perspiciatis.
                                </div>
                                <div class="more">
                                    <div class="reply">
                                        <i class="bi bi-reply"></i> Cevapla
                                    </div>
                                    <div class="likeandunlike">
                                        <div class="like">
                                            <i class="bi bi-hand-thumbs-up"></i> 1024
                                        </div>
                                        <div class="unlike">
                                            <i class="bi bi-hand-thumbs-down"></i> 299
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment2">
                            <img src="~/Anitsuki/img/1.png">
                            <div class="detail">
                                <div class="user">
                                    <div class="name">
                                        BABAPRO
                                    </div>
                                    <div class="year">
                                        12.12.2023
                                    </div>
                                </div>
                                <div class="text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At totam exercitationem
                                    iure quia tempora suscipit illum adipisci voluptatum? Aspernatur, perspiciatis.
                                </div>
                                <div class="more">
                                    <div class="reply">
                                        <i class="bi bi-reply"></i> Cevapla
                                    </div>
                                    <div class="likeandunlike">
                                        <div class="like">
                                            <i class="bi bi-hand-thumbs-up"></i> 1024
                                        </div>
                                        <div class="unlike">
                                            <i class="bi bi-hand-thumbs-down"></i> 299
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment1">
                            <img src="~/Anitsuki/img/1.png">
                            <div class="detail">
                                <div class="user">
                                    <div class="name">
                                        BABAPRO
                                    </div>
                                    <div class="year">
                                        12.12.2023
                                    </div>
                                </div>
                                <div class="text">
                                    Dubbing a blonde loli who is older and more powerful than she looks? Call Monica
                                    Rial.
                                </div>
                                <div class="more">
                                    <div class="reply">
                                        <i class="bi bi-reply"></i>Cevapla
                                    </div>
                                    <div class="likeandunlike">
                                        <div class="like">
                                            <i class="bi bi-hand-thumbs-up"></i>1024
                                        </div>
                                        <div class="unlike">
                                            <i class="bi bi-hand-thumbs-down"></i>299
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nextandprevepisode">
                @{
                    if (Model.OncekiBolum != null && Model.OncekiBolum.Any())
                    {
                        <div class="prev">
                            <div class="title">
                                <i class="bi bi-arrow-left"></i> Önceki Bölüm
                            </div>
                            @foreach (var episode in Model.OncekiBolum)
                            {
                                <a href="@Url.Action("Video", "AnimeDetail", new { id = episode.ID })">
                                    <div class="box">
                                        <img src="~/IMG/@episode.BANNER">
                                        <div class="animedetail">
                                            <div class="episodename">
                                                <span>S.@episode.TBLSEASON.SEASONNUMBER</span> - <span>B.@episode.EPINUMBER</span> @episode.EPISODENAME
                                            </div>
                                            <div class="time">
                                                <i class="bi bi-clock"></i> @episode.TIME
                                            </div>
                                            <div class="date">
                                                <i class="bi bi-calendar"></i> @episode.DATE.Value.ToString("dd.MM.yyyy")
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                }

                @{
                    if (Model.SonrakiBolum != null && Model.SonrakiBolum.Any())
                    {
                        <div class="next">
                            <div class="title">
                                Sonraki Bölüm <i class="bi bi-arrow-right"></i>
                            </div>
                            @foreach (var episode in Model.SonrakiBolum)
                            {
                                <a href="@Url.Action("Video", "AnimeDetail", new { id = episode.ID })">
                                    <div class="box">
                                        <img src="~/IMG/@episode.BANNER">
                                        <div class="animedetail">
                                            <div class="episodename">
                                                <span>S.@episode.TBLSEASON.SEASONNUMBER</span> - <span>B.@episode.EPINUMBER</span> @episode.EPISODENAME
                                            </div>
                                            <div class="time">
                                                <i class="bi bi-clock"></i> @episode.TIME
                                            </div>
                                            <div class="date">
                                                <i class="bi bi-calendar"></i> @episode.DATE.Value.ToString("dd.MM.yyyy")
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!----------------------------------------------------CONTENT START---------------------------------------------------->
    <!----------------------------------------------------FOOTER START---------------------------------------------------->
    <footer>
        <div class="footerimg">
        </div>
        <div class="detail">
            <div class="page">
                <div class="title">
                    Sayfalar
                </div>
                <ul>
                    <li><a href="about.html">Hakkımızda</a></li>
                    <li><a href="privacyandpolitic.html">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="social">
                <div class="title">
                    Sosyal Medyalar
                </div>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-youtube fa-l"></i> Youtube</a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter fa-l"></i> Twitter-X</a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram fa-l"></i> Instagram</a></li>
                    <li><a href="https://discord.gg/j6k56TRk"><i class="bi bi-discord"></i> Discord</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                    İletişim
                </div>
                <ul>
                    <li>info@anitsuki.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright ">
            <img src="~/Anitsuki/img/aylogo.png">
            <div class="text">
                Copyright © Anitsuki 2024. Tüm hakları saklıdır.
            </div>
        </div>
    </footer>
    <!----------------------------------------------------FOOTER END---------------------------------------------------->
</body>

</html>
<!--JQUERY JS-->
<script src="~/Anitsuki/node_modules/jquery/dist/jquery.min.js"></script>
<!--BOOTSTRAP JS-->
<script src="~/Anitsuki/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--SWIPER JS-->
<script src="~/Anitsuki/node_modules/swiper/swiper-bundle.min.js"></script>
<!--SPLIDE JS-->
<script src="~/Anitsuki/node_modules/splidejs/splide/dist/js/splide.min.js"></script>
<!--JS-->
<script src="~/Anitsuki/js/video.js"></script>
<script src="~/Anitsuki/js/splide.js"></script>

<script>/*NAVBAR'DAKİ LİNK ACTİVE*/
    document.querySelectorAll('nav a').forEach(link => {
        link.classList.remove('active');

        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });
    //Sayfa Yükleme Ekranı
    window.addEventListener('load', loaderfunc);
    function loaderfunc() {
        document.getElementById('loader').style.display = 'none';
    }
    //Sayfada Aşağı boşluk tuşuna bastığında inmemeye yarayana Kod
    document.addEventListener('keydown', function (event) {
        if (event.code === 'Space' && event.target.tagName !== 'TEXTAREA' && event.target.tagName !== 'INPUT') {
            event.preventDefault();
            event.stopPropagation();
        }
    });</script>