@using AnitsukiTV.Models
@model TabeList


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Model.VideoInfo.AnimeTitle @Model.VideoInfo.SeasonNumber. Sezon @Model.VideoInfo.EpisodeNumber. Bölüm izle - Anitsuki</title>
    <meta name="description" content="@Model.VideoInfo.AnimeTitle @Model.VideoInfo.SeasonNumber. Sezon @Model.VideoInfo.EpisodeNumber. Bölüm izle, @Model.VideoInfo.AnimeTitle animesini türkçe altyazılı ve full hd seçeneğiyle ücretsiz olarak izleyin." />
    <meta content="tr" http-equiv="Content-Language" />
    <meta name="language" content="Turkish" />
    <meta name="geo.placename" content="Turkey" />
    <meta name="location" content="türkiye, tr, turkey" />
    <meta name="robots" content="noarchive" />
    <meta name="theme-color" content="#000000" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="anitsuki">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="@Model.VideoInfo.AnimeTitle @Model.VideoInfo.SeasonNumber. Sezon @Model.VideoInfo.EpisodeNumber. Bölüm izle - anitsuki" />
    <meta property="og:url" content="https://diziwatch.net/fullmetal-alchemist-brotherhood-1-sezon-1-bolum-izle-xth7k/" />
    <meta property="og:type" content="video.episode" />
    <meta property="og:description" content="@Model.VideoInfo.AnimeTitle @Model.VideoInfo.SeasonNumber. Sezon @Model.VideoInfo.EpisodeNumber. Bölüm izle, @Model.VideoInfo.AnimeTitle animesini türkçe altyazılı ve full hd seçeneğiyle ücretsiz olarak izleyin." />
    <meta name="robots" content="max-image-preview:large" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/splidejs/splide/dist/css/splide.min.css" type="text/css">
    <link rel="stylesheet" href="~/splidejs/splide/dist/css/themes/splide-skyblue.min.css" type="text/css">
    <link rel="stylesheet" href="~/swiper/swiper-bundle.min.css" type="text/css">
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <link rel="stylesheet" href="~/css/video.css" type="text/css">
    <link rel="shortcut icon" href="~/IMG/aylogo.png" />
    @if (!User.Identity.IsAuthenticated)
    {
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6247305840090216" crossorigin="anonymous"></script>
    }
</head>
<body>
    <div id="loader">
        <div id="box1">
            <img src="~/IMG/arisu-aris.gif">
        </div>
    </div>
    <header style="background-color: #000000;">
        <div class="container-xl">
            <div class="row">
                <div class="logo col-2">
                    <a href="/Home/Index"><img src="~/IMG/logo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"><img class="logomobile" src="~/IMG/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"></a>
                </div>

                <input style="display: none;" type="checkbox" id="check">
                <label for="check" class="hamburger-btn col-1">
                    <span></span>
                </label>

                <nav class="col-8">
                    <ul>
                        <li>
                            <a href="/Home/Index"><i class="fa-solid fa-house"></i> Anasayfa</a>
                        </li>
                        <li>
                            <a href="/Category/Index"><i class="fa-solid fa-list"></i> Animeler</a>
                        </li>
                    </ul>
                </nav>
                <div class="box col-2">
                    <div class="search">
                        <a href="/Category/Index"><i class="bi bi-search"></i></a>
                    </div>
                    <div class="user">
                        @{ AnitsukiTVEntities db = new AnitsukiTVEntities();}
                        @if (Request.IsAuthenticated)
                        {
                            var currentUser = db.TBLUSER.FirstOrDefault(u => u.USERNAME == User.Identity.Name);
                            if (currentUser != null && currentUser.PICTURE != null)
                            {
                                <a href="/User/Index"><img width="40" height="40" style="border-radius:50%; object-fit:cover;" src="~/IMG/@currentUser.PICTURE"></a>
                            }
                            else
                            {
                                <a href="/User/Index"><img width="40" height="40" style="border-radius: 50%; object-fit: cover;" src="~/IMG/stockuser.png"></a>
                            }
                            <a href="/LoginSignIn/SignOut"><i class="bi bi-box-arrow-right"></i></a>
                        }
                        else
                        {
                            <a href="/LoginSignIn/Login"><i class="bi bi-person"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="videoplayer" tabindex="0">
            <div class="postervideo">
                <img class="poster" src="~/IMG/poster.png" alt="anime izle, türkçe altyazı anime izle, anitsuki" />
                <img class="postermobil" src="~/IMG/postermobil.png" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                <span class="material-symbols-outlined posterbtn">
                    play_circle
                </span>
            </div>
            <video preload="metadata" class="main-video" playsinline>
                @foreach (var x in Model.VideoInfo.Episode)
                {
                    if (x.EP1 != null)
                    {
                        <source src="~/Videos/@x.EP1" size="360" type="video/mp4">
                    }
                    if (x.EP2 != null)
                    {
                        <source src="~/Videos/@x.EP2" size="480" type="video/mp4">
                    }
                    if (x.EP3 != null)
                    {
                        <source src="~/Videos/@x.EP3" size="720" type="video/mp4">
                    }
                    if (x.EP4 != null)
                    {
                        <source src="~/Videos/@x.EP4" size="1080" type="video/mp4">
                    }
                }
            </video>
        </div>
        <div class="head">
            <div class="episodeandcomment">
                <div class="episodetail">
                    @foreach (var y in Model.VideoInfo.Episode)
                    {
                        <img src="~/IMG/@y.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                        <div style="width:50%;" class="detail">
                            <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                <a href="/AnimeDetail/Index/@y.ANIMEID">@y.TBLANIME.ANIMENAME </a>
                            </div>
                            <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="episodename">
                                <span>S.@y.TBLSEASON.SEASONNUMBER</span> -
                                <span>B.@y.EPINUMBER</span> @y.EPISODENAME
                            </div>
                            <div class="time">
                                <i class="bi bi-clock"></i> @y.TIME
                            </div>
                            <div class="date">
                                <i class="bi bi-calendar"></i> @y.DATE.Value.ToString("dd.MM.yyyy")
                            </div>
                            <div class="likeandunlikerating">
                                <div class="rating">
                                    Beğendiniz mi?
                                </div>
                                <div class="likeandunlike">
                                    @{
                                        var userID = db.TBLUSER.Where(u => u.USERNAME == User.Identity.Name).Select(u => u.ID).FirstOrDefault();
                                        var likeExist = y.TBLEPISODELIKE.Any(y => y.USERID == userID);
                                        var liked = y.TBLEPISODELIKE.FirstOrDefault(y => y.USERID == userID)?.LIKESTATUS;
                                    }

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (liked.HasValue && liked.Value)
                                        {
                                            <div class="like1 active" data-comment-id="@y.ID">
                                                <a style="text-decoration: none; cursor: pointer; color: white;" onclick="handleLikeOrUnlike1(this, @y.ID, @userID, true)">
                                                    <i style="margin-right:2px;" class="bi bi-hand-thumbs-up"></i>
                                                    <span id="like-count-@y.ID">@y.TBLEPISODELIKE.Where(y => y.LIKESTATUS == true).Count()</span>
                                                </a>
                                            </div>

                                            <div id="comment-success" style="display:none;"></div>
                                            <div id="comment-error" style="display:none;"></div>
                                            <span id="like-count-@y.ID">@y.TBLEPISODELIKE.Where(y => y.LIKESTATUS == true).Count()</span>

                                            <div class="unlike1" data-comment-id="@y.ID">
                                                <a style="text-decoration: none; cursor: pointer; color: white;" onclick="handleLikeOrUnlike1(this, @y.ID, @userID, false)">
                                                    <i style="margin-right:2px;" class="bi bi-hand-thumbs-down"></i>
                                                    <span id="unlike-count-@y.ID">@y.TBLEPISODELIKE.Where(y => y.LIKESTATUS == false).Count()</span>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="like1" data-comment-id="@y.ID">
                                                <a style="text-decoration: none; cursor: pointer; color: white;" onclick="handleLikeOrUnlike1(this, @y.ID, @userID, true)">
                                                    <i style="margin-right:2px;" class="bi bi-hand-thumbs-up"></i>
                                                    <span id="like-count-@y.ID">@y.TBLEPISODELIKE.Where(y => y.LIKESTATUS == true).Count()</span>
                                                </a>
                                            </div>
                                            <div class="unlike1 active" data-comment-id="@y.ID">
                                                <a style="text-decoration: none; cursor: pointer; color: white;" onclick="handleLikeOrUnlike1(this, @y.ID, @userID, false)">
                                                    <i style="margin-right:2px;" class="bi bi-hand-thumbs-down"></i>
                                                    <span id="unlike-count-@y.ID">@y.TBLEPISODELIKE.Where(y => y.LIKESTATUS == false).Count()</span>
                                                </a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="like1" data-comment-id="@y.ID">
                                            <a style="text-decoration:none; color:white;" href="/LoginSignIn/Login">
                                                <i style="margin-right:2px;" class="bi bi-hand-thumbs-up"></i>
                                                @y.TBLEPISODELIKE.Where(y => y.LIKESTATUS == true).Count()
                                            </a>
                                        </div>
                                        <div class="unlike1" data-comment-id="@y.ID">
                                            <a style="text-decoration:none; color:white;" href="/LoginSignIn/Login">
                                                <i style="margin-right:2px;" class="bi bi-hand-thumbs-down"></i>
                                                @y.TBLEPISODELIKE.Where(y => y.LIKESTATUS == false).Count()
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.Action("Comment1", "AnimeDetail")
            </div>
            <div class="nextandprevepisode">
                @{
                    if (Model.VideoInfo.OncekiBolum != null && Model.VideoInfo.OncekiBolum.Any())
                    {
                        <div class="prev">
                            <div class="title">
                                <i class="bi bi-arrow-left"></i> Önceki Bölüm
                            </div>
                            @foreach (var episode in Model.VideoInfo.OncekiBolum.Where(x => x.STATUS == true))
                            {
                                <a href="@Url.Action("Video", "AnimeDetail", new { id = episode.ID })">
                                    <div class="box">
                                        <img src="~/IMG/@episode.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                        <div class="animedetail">
                                            <div class="episodename">
                                                <span>S.@episode.TBLSEASON.SEASONNUMBER</span> -
                                                <span>B.@episode.EPINUMBER</span> @episode.EPISODENAME
                                            </div>
                                            <div class="time">
                                                <i class="bi bi-clock"></i> @episode.TIME
                                            </div>
                                            <div class="date">
                                                <i class="bi bi-calendar"></i> @episode.DATE.Value.ToString("dd.MM.yyyy")
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="prev">
                            <div class="title">
                                <i class="bi bi-eye"></i> İlk bölümdesiniz
                            </div>
                        </div>
                    }
                }

                @{
                    if (Model.VideoInfo.SonrakiBolum != null && Model.VideoInfo.SonrakiBolum.Any())
                    {
                        <div class="next">
                            <div class="title">
                                Sonraki Bölüm
                                <i class="bi bi-arrow-right"></i>
                            </div>
                            @foreach (var episode in Model.VideoInfo.SonrakiBolum.Where(x => x.STATUS == true))
                            {
                                <a href="@Url.Action("Video", "AnimeDetail", new { id = episode.ID })">
                                    <div class="box">
                                        <img src="~/IMG/@episode.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki">
                                        <div class="animedetail">
                                            <div class="episodename">
                                                <span>S.@episode.TBLSEASON.SEASONNUMBER</span> -
                                                <span>B.@episode.EPINUMBER</span> @episode.EPISODENAME
                                            </div>
                                            <div class="time">
                                                <i class="bi bi-clock"></i> @episode.TIME
                                            </div>
                                            <div class="date">
                                                <i class="bi bi-calendar"></i> @episode.DATE.Value.ToString("dd.MM.yyyy")
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="next">
                            <div class="title">
                                Güncel Bölümdesiniz
                                <i class="bi bi-check2"></i>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <footer>
        <div class="footerimg">
        </div>
        <div class="detail">
            <div class="page">
                <div class="title">
                    Sayfalar
                </div>
                <ul>
                    <li><a href="/Home/About">Hakkımızda</a></li>
                    <li><a href="/Home/PrivacyPolicy">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="social">
                <div class="title">
                    Sosyal Medyalar
                </div>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UC3AfwO_XmAvYEtw6FWZXZcw"><i class="fa-brands fa-youtube fa-l"></i> Youtube</a></li>
                    @*<li><a href="#"><i class="fa-brands fa-x-twitter fa-l"></i> Twitter-X</a></li>*@
                    <li><a href="https://www.instagram.com/anitsukitv/"><i class="fa-brands fa-instagram fa-l"></i> Instagram</a></li>
                    <li><a href="https://discord.gg/j6k56TRk"><i class="bi bi-discord"></i> Discord</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                    İletişim
                </div>
                <ul>
                    <li>info@anitsuki.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright ">
            <img src="~/IMG/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki">
            <div class="text">
                Copyright © Anitsuki 2024. Tüm hakları saklıdır.
            </div>
        </div>
    </footer>
</body>
</html>
<script src="~/jquery/dist/jquery.min.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/swiper/swiper-bundle.min.js"></script>
<script src="~/splidejs/splide/dist/js/splide.min.js"></script>
<script src="~/js/main1.js"></script>
<script src="~/js/video.js"></script>
<script src="~/js/splide.js"></script>
<script>
    document.querySelectorAll('nav a').forEach(link => {
        link.classList.remove('active');

        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });
    window.addEventListener('load', loaderfunc);
    function loaderfunc() {
        document.getElementById('loader').style.display = 'none';
    }
    document.addEventListener('keydown', function (event) {
        if (event.code === 'Space' && event.target.tagName !== 'TEXTAREA' && event.target.tagName !== 'INPUT') {
            event.preventDefault();
            event.stopPropagation();
        }
    });</script>




<script>
    function handleLikeOrUnlike1(element, commentId, userId, isLike) {
        var likeButton, unlikeButton, likeCountSpan, unlikeCountSpan;

        if (isLike) {
            likeButton = $(element);
            unlikeButton = likeButton.parent().siblings(".unlike1").find("a");
            likeCountSpan = likeButton.find("span");
            unlikeCountSpan = unlikeButton.find("span");
        } else {
            unlikeButton = $(element);
            likeButton = unlikeButton.parent().siblings(".like1").find("a");
            unlikeCountSpan = unlikeButton.find("span");
            likeCountSpan = likeButton.find("span");
        }

        $.ajax({
            type: "POST",
            url: "/AnimeDetail/LikeOrUnlikeComment2",
            data: { id: commentId, userId: userId, isLike: isLike },
            success: function (data) {
                likeCountSpan.text(data.likeCount);
                unlikeCountSpan.text(data.unlikeCount);
                if (isLike) {
                    if (data.likeCount > 0) {
                        likeButton.addClass("active");
                        unlikeButton.removeClass("active");
                    } else {
                        likeButton.removeClass("active");
                        unlikeButton.addClass("active");
                    }
                } else {
                    if (data.unlikeCount > 0) {
                        unlikeButton.addClass("active");
                        likeButton.removeClass("active");
                    } else {
                        unlikeButton.removeClass("active");
                        likeButton.addClass("active");
                    }
                }
            }
        });
    }
</script>
