@using AnitsukiTV.Models
@model TabeList



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Category - Anitsuki</title>
    <meta name="description" content="Animeler, @ViewBag.Category izle, anime izle, türkanime, türk anime tv, tranimeizle, türkçe anime izle" />
    <meta content="tr" http-equiv="Content-Language" />
    <meta name="language" content="Turkish" />
    <meta name="geo.placename" content="Turkey" />
    <meta name="location" content="türkiye, tr, turkey" />
    <meta name="robots" content="noarchive" />
    <meta name="theme-color" content="#000000" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="anitsuki">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="Animeler - anitsuki" />
    <meta property="og:url" content="https://anitsuki.com/Category/UseCategory" />
    <meta property="og:description" content="Animeler" />
    <meta name="robots" content="max-image-preview:large" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/splidejs/splide/dist/css/splide.min.css" type="text/css" />
    <link rel="stylesheet" href="~/splidejs/splide/dist/css/themes/splide-skyblue.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/Category.css" />
    <link rel="shortcut icon" href="~/IMG/aylogo.png" />
</head>
<body>
    <div class="loader">

    </div>
    <header>
        <div class="container-xl">
            <div class="row">
                <div class="logo col-2">
                    <a href="/Home/Index"><img src="~/IMG/logo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"><img class="logomobile" src="~/IMG/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki"></a>
                </div>

                <input style="display: none;" type="checkbox" id="check">
                <label for="check" class="hamburger-btn col-1">
                    <span></span>
                </label>

                <nav class="col-8">
                    <ul>
                        <li><a href="/Home/Index" class="active"><i class="fa-solid fa-house"></i> Anasayfa</a></li>
                        <li><a href="/Category/Index"><i class="fa-solid fa-list"></i> Animeler</a></li>
                    </ul>
                </nav>
                <div class="box col-2">
                    <div class="search">
                        <div class="search">

                        </div>
                        <div class="user">
                            @{ AnitsukiTVEntities db = new AnitsukiTVEntities();}
                            @if (Request.IsAuthenticated)
                            {
                                var currentUser = db.TBLUSER.FirstOrDefault(u => u.USERNAME == User.Identity.Name);
                                if (currentUser != null && currentUser.PICTURE != null)
                                {
                                    <a href="/User/Index"><img width="40" height="40" style="border-radius:50%; object-fit:cover;" src="~/IMG/@currentUser.PICTURE"></a>
                                }
                                else
                                {
                                    <a href="/User/Index"><img width="40" height="40" style="border-radius: 50%; object-fit: cover;" src="~/IMG/stockuser.png"></a>
                                }
                                <a href="/LoginSignIn/SignOut"><i class="bi bi-box-arrow-right"></i></a>
                            }
                            else
                            {
                                <a href="/LoginSignIn/Login"><i class="bi bi-person"></i></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content2">
        <div class="searchcategory">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @ViewBag.Category
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Category/Index">Hepsi</a></li>
                    @foreach (var x in Model.Category)
                    {
                        <li><a class="dropdown-item" href="/Category/UseCategory/@x.ID">@x.CATEGORYNAME</a></li>
                    }
                </ul>
            </div>
            <div style="margin-right:10px;" class="search">
                <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                <input type="text" autocomplete="off" name="searchTags" id="searchTags"
                       placeholder="Anime adını yazınız" />
            </div>
            <div style="color:#ffffff; font-size:1.1rem; display:flex;align-items:center; justify-content:center;">
                <i style="margin-right:5px;" class="bi bi-tv"></i> @Model.Anime.Where(x => x.STATUS == true).Count()
            </div>
        </div>
        <ul id="menuFull">
            @foreach (var y in Model.Anime)
            {
                <li class="splide__slide">
                    <a href="/AnimeDetail/Index/@y.ID">
                        <div class="videoimg">
                            <img src="~/IMG/@y.BANNER" alt="anime izle, türkçe altyazı anime izle, anitsuki" loading="lazy" />
                            @if (y.EDIT != null)
                            {
                                <video class="video" src="~/Videos/@y.EDIT" playsinline preload="none"></video>
                            }
                            else
                            {
                                <video class="video" src="~/Videos/blackscreen.mp4" playsinline preload="none"></video>
                            }
                        </div>
                        <div class="text">
                            <div style="width:70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="title">
                                @y.ANIMENAME
                            </div>
                            <div style="width:30%; display:flex; justify-content:end;" class="season">
                                @y.DATE.Value.ToString("yyyy")
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <footer>
        <div class="footerimg">
        </div>
        <div class="detail">
            <div class="page">
                <div class="title">
                    Sayfalar
                </div>
                <ul>
                    <li><a href="/Home/About">Hakkımızda</a></li>
                    <li><a href="/Home/PrivacyPolicy">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="social">
                <div class="title">
                    Sosyal Medyalar
                </div>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UC3AfwO_XmAvYEtw6FWZXZcw"><i class="fa-brands fa-youtube fa-l"></i> Youtube</a></li>
                    @*<li><a href="#"><i class="fa-brands fa-x-twitter fa-l"></i> Twitter-X</a></li>*@
                    <li><a href="https://www.instagram.com/anitsukitv/"><i class="fa-brands fa-instagram fa-l"></i> Instagram</a></li>
                    <li><a href="https://discord.gg/j6k56TRk"><i class="bi bi-discord"></i> Discord</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                    İletişim
                </div>
                <ul>
                    <li>info@anitsuki.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright ">
            <img src="~/IMG/aylogo.png" alt="anime izle, türkçe altyazı anime izle, anitsuki">
            <div class="text">
                Copyright © Anitsuki 2024. Tüm hakları saklıdır.
            </div>
        </div>
    </footer>
</body>
</html>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script>
    document.querySelectorAll('nav a').forEach(link => {
        link.classList.remove('active');
        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");

        loader.classList.add("loader-hidden");
    })
    document.addEventListener('keydown', function (event) {
        if (event.code === 'Space' && event.target.tagName !== 'TEXTAREA' && event.target.tagName !== 'INPUT') {
            event.preventDefault();
            event.stopPropagation();
        }
    });

    jQuery.expr[':'].contains = function (a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    };
    $(document).ready(function () {
        $("#searchTags").keyup(function () {
            var value = $("#searchTags").val();
            if (value.length == 0) {
                $("#menuFull li").show();
            } else {
                $("#menuFull li").hide();
                $("#menuFull li:contains(" + value + ")").show();
            }

        });
    });
</script>
<script>
    const togglePositionalHeaderStyles = () => {
        if (window.scrollY > 0 && !header.classList.contains("header-change")) {
            header.classList.add("header-change");
        };
        if (window.scrollY === 0 && header.classList.contains("header-change")) {
            header.classList.remove("header-change");
        };
    };

    let timeoutID = null;
    const header = document.querySelector("header");
    togglePositionalHeaderStyles();
    window.addEventListener("scroll", () => {
        togglePositionalHeaderStyles();
        if (timeoutID) clearTimeout(timeoutID);
        timeoutID = setTimeout(() => {
            togglePositionalHeaderStyles();
        }, 50);
    });
</script>
<script>
    const video = document.querySelectorAll(".splide__slide .video");
    video.forEach(video => {
        let cached = false;
        let source = video.src;

        video.onmouseenter = () => {
            if (!cached) {
                video.src = source;
                cached = true;
            }
            video.play();
            video.volume = 0.05;
            video.classList.add("active");
        };

        video.onmouseleave = () => {
            video.pause();
            video.src = "";
            cached = false;
            video.classList.remove("active");
        };

        video.ontouchmove = () => {
            if (!cached) {
                video.src = source;
                cached = true;
            }
            video.play();
            video.volume = 0.05;
            video.classList.add("active");
        };

        video.ontouchend = () => {
            video.pause();
            video.src = "";
            cached = false;
            video.classList.remove("active");
        };
    });
</script>
